In [1]:
import pandas as pd ## import the library
X = pd.read_csv(r"data_ASD_only.csv") ## read the csv into a dataframe 'X' (2d table - rows and columns)
X.head(10) ## display the first 10 rows

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,AQ_Q47,AQ_Q50,Age_1,Gender,Gender_2_TEXT,Sex,Education,Education_9_TEXT,Psychiatric,Psychiatric _16_TEXT
0,03/02/2023 05:47,03/02/2023 05:54,0,141.163.57.238,100,466,1,03/02/2023 05:54,R_2YtzgpYVi8qMgM2,NaN,...,1.0,1.0,20.0,0.0,NaN,0.0,6.0,NaN,"1,7",NaN
1,03/02/2023 05:44,03/02/2023 05:58,0,90.205.111.124,100,852,1,03/02/2023 05:58,R_3oKFBBR66DT7ebL,NaN,...,3.0,2.0,26.0,0.0,NaN,0.0,6.0,NaN,"1,5,6,7,11,16",I am currently waiting for an autism assesment
2,03/02/2023 05:47,03/02/2023 06:00,0,2.216.143.168,100,776,1,03/02/2023 06:00,R_3G9YIqLq63eLRPy,NaN,...,4.0,2.0,29.0,0.0,NaN,0.0,2.0,NaN,17,NaN
3,03/02/2023 05:44,03/02/2023 06:06,0,82.7.45.3,100,1322,1,03/02/2023 06:06,R_1CpfR9YKeUgej8W,NaN,...,2.0,2.0,40.0,0.0,NaN,0.0,5.0,NaN,3,NaN
4,03/02/2023 06:19,03/02/2023 06:28,0,86.6.145.69,100,521,1,03/02/2023 06:28,R_2fDkz2aTXc4SCQT,NaN,...,2.0,2.0,51.0,1.0,NaN,1.0,2.0,NaN,17,NaN
5,03/02/2023 06:18,03/02/2023 06:43,0,31.104.15.1,100,1477,1,03/02/2023 06:43,R_R9Mc2J0aZ2s3T8d,NaN,...,3.0,3.0,70.0,0.0,NaN,0.0,5.0,NaN,17,NaN
6,03/02/2023 06:24,03/02/2023 07:04,0,93.96.121.247,100,2387,1,03/02/2023 07:04,R_3KPEIOSEXv4Lia9,NaN,...,2.0,1.0,63.0,0.0,NaN,0.0,6.0,NaN,17,NaN
7,03/02/2023 07:19,03/02/2023 07:29,0,86.185.34.148,100,601,1,03/02/2023 07:29,R_p5JKW0rntHqdJlv,NaN,...,2.0,1.0,35.0,0.0,NaN,0.0,7.0,NaN,17,NaN
8,03/02/2023 07:20,03/02/2023 07:35,0,81.141.45.193,100,923,1,03/02/2023 07:35,R_2A1fECwPxC7am7O,NaN,...,2.0,2.0,25.0,0.0,NaN,0.0,6.0,NaN,17,NaN
9,03/02/2023 07:20,03/02/2023 07:35,0,109.152.158.23,100,887,1,03/02/2023 07:35,R_2SvS0sGnqw0OKma,NaN,...,3.0,2.0,62.0,0.0,NaN,0.0,2.0,NaN,6,NaN

In [3]:
X

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,AQ_Q47,AQ_Q50,Age_1,Gender,Gender_2_TEXT,Sex,Education,Education_9_TEXT,Psychiatric,Psychiatric _16_TEXT
0,03/02/2023 05:47,03/02/2023 05:54,0,141.163.57.238,100,466,1,03/02/2023 05:54,R_2YtzgpYVi8qMgM2,NaN,...,1.0,1.0,20.0,0.0,NaN,0.0,6.0,NaN,"1,7",NaN
1,03/02/2023 05:44,03/02/2023 05:58,0,90.205.111.124,100,852,1,03/02/2023 05:58,R_3oKFBBR66DT7ebL,NaN,...,3.0,2.0,26.0,0.0,NaN,0.0,6.0,NaN,"1,5,6,7,11,16",I am currently waiting for an autism assesment
2,03/02/2023 05:47,03/02/2023 06:00,0,2.216.143.168,100,776,1,03/02/2023 06:00,R_3G9YIqLq63eLRPy,NaN,...,4.0,2.0,29.0,0.0,NaN,0.0,2.0,NaN,17,NaN
3,03/02/2023 05:44,03/02/2023 06:06,0,82.7.45.3,100,1322,1,03/02/2023 06:06,R_1CpfR9YKeUgej8W,NaN,...,2.0,2.0,40.0,0.0,NaN,0.0,5.0,NaN,3,NaN
4,03/02/2023 06:19,03/02/2023 06:28,0,86.6.145.69,100,521,1,03/02/2023 06:28,R_2fDkz2aTXc4SCQT,NaN,...,2.0,2.0,51.0,1.0,NaN,1.0,2.0,NaN,17,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483,06/02/2023 06:52,06/02/2023 07:08,0,31.54.108.89,100,945,1,06/02/2023 07:08,R_27lq60eodH6AIzP,NaN,...,2.0,2.0,33.0,1.0,NaN,1.0,6.0,NaN,17,NaN
484,06/02/2023 07:02,06/02/2023 07:11,0,31.124.222.33,100,520,1,06/02/2023 07:11,R_d5pkJhpriBkM7OF,NaN,...,2.0,2.0,41.0,1.0,NaN,1.0,8.0,NaN,"1,2,6",NaN
485,06/02/2023 06:52,06/02/2023 07:16,0,92.40.199.20,100,1391,1,06/02/2023 07:16,R_2zuzLh8oJPO6Via,NaN,...,1.0,1.0,31.0,1.0,NaN,1.0,6.0,NaN,17,NaN
486,06/02/2023 06:52,06/02/2023 07:17,0,86.153.139.13,100,1487,1,06/02/2023 07:17,R_2PB94XjxOAD6n6D,NaN,...,2.0,2.0,27.0,1.0,NaN,1.0,7.0,NaN,17,NaN
487,06/02/2023 06:55,06/02/2023 07:48,0,86.1.220.114,100,3155,1,06/02/2023 07:48,R_2ci2l6qMtzEDOht,NaN,...,3.0,2.0,25.0,1.0,NaN,1.0,3.0,NaN,6,NaN

In [2]:
## Check start values of sex so we know what we're working with
print('Number of rows: ',len(X.index))
X['Sex'].value_counts()

## This shows 244 sex==0.0, 243 sex==1.0 and since 488 rows total, 1 row where sex==null

Number of rows:  488

0.0    244
1.0    243
Name: Sex, dtype: int64

In [ ]:
## sex0 is a dataframe containing only the values from X where sex == 0.0
## sex1 only has Sex == 1.0 and the one null row
sex0 = X[X['Sex']==0.0]
sex1 = X[X['Sex']!=0.0]

## randomly shuffle both sex0 and sex1 to ensure random split
shuf0 = sex0.sample(frac=1)
shuf1 = sex1.sample(frac=1)

## halfLengthShuf0 is equal to the number of rows in shuf0 divided by 2 (rounded to int)


halfLengthShuf0 = int(0.5 * len(shuf0))
halfLengthShuf1 = int(0.5 * len(shuf0))

## We then use the half length int to split shuf0 in half using indexing. 
## first_half_shuf0 = the first half of shuf0
first_half_shuf0 = shuf0[ : halfLengthShuf0]
first_half_shuf1 = shuf1[ : halfLengthShuf1]
second_half_shuf0 = shuf0[halfLengthShuf0 : ]
second_half_shuf1 = shuf1[halfLengthShuf1 : ]


## We then concatenate one half of the randomly shuffled sex==0.0 rows 
## with one half of the randomly shuffled sex==1.0 rows
## and concatenate the remaining two halves together also
split0 = pd.concat([first_half_shuf0 , first_half_shuf1])
split1 = pd.concat([second_half_shuf0 , second_half_shuf1])


## Do it all at once instead
#split0 = pd.concat([shuf0[:int(0.5 * len(shuf0))], shuf1[:int(0.5 * len(shuf0))]])
#split1 = pd.concat([shuf0[int(0.5 * len(shuf0)):], shuf1[int(0.5 * len(shuf0)):]])


## Reshuffle split0 and split1 to ensure that everyone is sititng boy-girl-boy-girl (approximately)
split0 = split0.sample(frac=1)
split1 = split1.sample(frac=1)

In [ ]:
shuf0

In [ ]:
split0['Sex'].value_counts()

In [ ]:
split1['Sex'].value_counts()

In [ ]:
split0.head(10)

In [ ]:
split1.head(10)

In [ ]:
## Check to see if any duplicate indices
split0.index.isin(split1.index)

In [ ]:
split0.to_csv(r"C:\Users\blofe\OneDrive - King's College London\YEAR 3\Research project\data\one_half.csv", index=False)

In [ ]:
split0.to_csv(r"C:\Users\blofe\OneDrive - King's College London\YEAR 3\Research project\data\two_half.csv", index=False)